.multipleAdd {
    position: absolute;
    right: -50px;
    top: 28px;
    width:280px;
    padding: 20px 30px;
    background: #404851;
    margin-top:10px;
}
.multipleAdd p {
	font-size: 10px;
	line-height: 14px;
	color: #fff;
	padding-bottom: 10px;
}
.r_location{
    margin-top:10px; 
    display: block;
}
.ubtn.whitebtn:hover{
	background:#fff;
	color:#000;
}
.multipleAdd .i_close {
    position: absolute;
    top: 0px;
    right: 11px;
    color:#fff;
}
.multipleAdd .i_close:hover { 
    color: #000; 
}

@media (max-width: 991px){
    .multipleAdd {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
}