<div class="footer text-align-center clearfix">
                <div class="_960px" >
                    <!--<a href="/" class="brandfooterlogo"><img src="theme/spice/images/brandfooterlogo.png" alt=""></a>-->
                    <a href="javascript:void(0)" target="_blank" class="_mr30"><i class="gi i_fb"></i></a>
                    <a  href="javascript:void(0)" target="_blank" class="_mr30"><i class="gi i_twitter"></i></a>
                    <a  href="javascript:void(0)" target="_blank"><i class="gi i_instagram"></i></a>
                </div>
            </div>