<div class="_960px">
    <p class="sectiontitle">careers</p>
    <div class="form_application">
        <div class="row display-flex display-flex-none-xs">
           <div class="col-md-6">
              <input type="text" name="personal" placeholder="Your name (required)" id="c_name" class="required">
              <p class="c-error-message hide">Sorry, We don't talk to strangers</p>
              <input type="text" name="email" placeholder="Your mail (required)" id="c_email" class="emailrequired">
              <p class="c-error-message hide">Hey, you forgot something</p>
              <input type="text" name="website" placeholder="Website" id="c_website">
            </div>
           <div class="col-md-6">
              <textarea name="message" placeholder="Message (required)" id="c_message" class="required"></textarea>
              <p class="c-error-message hide">Hey, you forgot something</p>
           </div>
        </div>
        <div class="text-align-center btn_careersubmit"><a href="javascript:void(0)" class="ubtn r_career_Submit">submit</a><span class="lineloader hide">  <span></span><span></span><span></span></span></div>
    </div>
    <div class="application-success hide">
        <p>Thank you for your message. We will try to answer as soon as possible.</p>
    </div>
</div>