 <div class="box_expectedtime _fs14">
  <p class="_fontarial">Expected Time of <span class="text-capitalize">{{order_type}}</span>:</p>
        <div [hidden]="!timeEdit">
        <p class="txt_upper">{{dateText(date)}}, {{hourTime(time)}}</p>
        <p class="txt_minhours">Hours: <span class="t-operation-hours">{{cartTimeEdit}}</span></p>
        <a href="javascript:void(0)" class="txtlink t-changeTime" (click)="changeTime()">Change</a>       
        </div>
        <div [hidden]="timeEdit" class="panel_selectexpectedtime">
              <select class="t-order-date" [ngModel]="date" (change)="dayChange($event)">       
                 <option *ngFor="let opdate of dates" [selected]="date==opdate" [value]="opdate['value']" [innerHtml]="opdate['text']"></option>
              </select>
              <select class="t-order-time cartTime" [ngModel]="time" (change)="saveDateTime(selectedSize)" #cartTime></select>
        </div>     
       <!--  <p><a href="javascript:;" class="txtlink t-saveDateTime">Submit</a></p> -->

   <div [hidden]='!tooltipselect' id="r_tooltipselecttime" class="tooltip lightbox tooltipselecttime">
        <p class="txt">You need to select a date and time from the restaurant’s available slots to proceed with your order.<a href="javascript:void(0)" class="i_close btn_close" (click)="hideToolTip()">+</a></p>
    </div>
  </div>