<div class="_p30" *ngIf="cart">
      <div class="a_scroll_head">
               <p class="title_popupitem item_title">{{cart.item_name}}</p>
               <p class="txt_popupitemdes item_desc">{{cart.item_desc}}</p>
               
               <p *ngIf="cart.prices.length==1" class="txt_popupitemprice item_price">${{cart.prices[0].value}}</p>
               
               <div *ngIf="cart.prices.length > 1">
               <div *ngIf="cart.price_id">
                <select class="price-select y_price_select" [ngModel]="cart.price_id" (change)="changeItemPrice()">
                   <option *ngFor="let priceSize of cart.prices" [selected]="cart.price_id==priceSize.id" [attr.priceAttr]="priceSize.id+'-'+priceSize.value+'-'+priceSize.desc" value="{{priceSize.id}}">${{priceSize.value+'('+priceSize.desc+')'}}</option>
                </select>
                <p class="_fs11">Multiple sizes available at different prices.</p>
               </div>
               <div *ngIf="!cart.price_id">
                <select class="price-select y_price_select" (change)="changeItemPrice()">
                   <option *ngFor="let priceSize of cart.prices" [attr.priceAttr]="priceSize.id+'-'+priceSize.value+'-'+priceSize.desc" value="{{priceSize.id}}">${{priceSize.value+'('+priceSize.desc+')'}}</option>
                </select>
                <p class="_fs11">Multiple sizes available at different prices.</p>
               </div>
               
                
                </div>

               </div>
               <div class="a_scroll a_area">  
                 <img *ngIf="cart.item_image_url!=''" src="{{cart.imagePath+cart.item_image_url}}" alt="{{cart.item_name}}" class="img-responsive">
                 <div *ngIf="addonsDisplay" class="addons">
                    <app-addons [items]="items" (selectSubTotal)="selectSubTotal($event)"></app-addons>
                 </div>
               <div class="txt_popupinstructions">
                  <p>Special Instructions</p>
                  <em>E.g. extra cheese, sauce on the side etc. Any additional charges will be directly charged to your credit card.
                  <span>And remember to inform the restaurant of all dietary restrictions and food allergies in the box below.</span></em>
               </div>               
                <textarea class="menu_special_instruction_item special_instruction" placeholder="SPECIAL INSTRUCTIONS" maxlength="255" rows="4" ng-model="special_instruction">{{ cart.special_instruction }}</textarea>
                <p class="txt_word_count">&nbsp;{{255 - cart.special_instruction.length}} left</p>
                </div>
               <div class="row addonpopup_footer">
                <input type="hidden" id="uid" value="{{cart.uid}}">
                <input type="hidden" id="item_id" value="{{cart.item_id}}">
                <input type="hidden" id="price_id" value="{{cart.prices[0].id}}">
                <input type="hidden" id="item_price" value="{{cart.prices[0].value}}">
                <input type="hidden" id="price_desc" value="{{cart.prices[0].desc}}">
                <input type="hidden" id="quantity" value="{{cart.quantity}}">
                <input type="hidden" id="item_name" value="{{cart.item_name}}">
                <input type="hidden" id="item_desc" value="{{cart.item_desc}}">
                <input type="hidden" id="item_image_url" value="{{cart.item_image_url}}">
                  <div class="col-md-3 col-xs-6 col-sm-3">
                     <b>Quantity</b>
                     <div class="slider_quantity">
                        <a href="javascript:void(0);" class="ubtn btn_addtocard decrease subtract-multiplier" (click)="subMulti()"></a>
                        <span class="multiplier">{{cart.quantity}}</span>            
                        <a href="javascript:void(0);" class="ubtn btn_addtocard add-multiplier" (click)="addMulti()"></a>
                     </div>
                  </div>
                  <div class="col-md-2 col-xs-3  col-sm-2">
                     <p><b>Price</b><strong>$<span class="sub-total">{{sub_total | number : '1.2-2'}}</span></strong>
                     </p>
                  </div>
                  <div class="col-md-2 col-xs-3 _mr0-xs  col-sm-2">
                   <p class="txt_total color-red"><b>TOTAL</b><strong>$<span class="total">{{total | number : '1.2-2'}}</span></strong></p>
                  </div>
                  <div class="col-md-5 col-xs-12  col-sm-5 text-align-md-right text-align-ip-right text-align-xs-center">
                     <a href="javascript:void(0);" class="ubtn blackbtn btn_popupaddtoorder add-to-order" (click)="addToCart()">ADD TO ORDER</a>
                  </div>
               </div>
            </div> 