<iframe *ngIf="homeVideo" [src]='videoUrl' width="100%" class="homepagevideo" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
<img *ngIf="!homeVideo" src="{{homeImage}}" width="100%"/>
<div class="home text-align-center">
   <div class="txt_homepage">
      <p class="videotitle_homepage" [innerHtml]="homeTitle"></p>
      <a *ngIf="homeVideo" href="javascript:void(0)" class="ubtn whitebtn" (click)="loadVideo()">watch video</a>
      <div class="homedownarrow pagejump" pageScroll href="#{{homeNext}}">
         <i class="i_downstyle"></i>
         <i class="i_downarrow fadeInUp aanimated"></i>
      </div>
   </div>
</div>